// if
@mixin profile-picture($size, $circle : false){
    width: $size;
    height: $size;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: .3);

    @if $circle {
        border-radius: 50%;
    }
}

.square-profile{
    @include profile-picture(200px, $circle: false);
}

.circle-profile{
    @include profile-picture(80px, $circle: true);
}



// else
$light-bg: #eaeaea;
$light-text: #333;
$dark-bg: #999;
$dark-text: #ddd;


@mixin color-mode($light-mode: true){
    @if $light-mode {
        background-color: $light-bg;
        color: $light-text;
    }@else {
        background-color: $dark-bg;
        color: $dark-text;
    }
}



// else if
@mixin triangle($size, $direction, $color) {
    width: 0;
    height: 0;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if($direction == right){
        border-left-color: $color;
    } @else if($direction == left){
        border-right-color: $color;
    } @else if($direction == top){
        border-bottom-color: $color;
    } @else {
        border-top-color: $color;
    }
}

.right{
    @include triangle(2rem, right, magenta);
}



// for
$color : green;
// .gradient{
//     margin: 0 auto;
//     padding: 0;
//     max-width: 20rem;
//     list-style: none;

//     @for $i from 1 to 11 {
//         li:nth-child(#{$i}){
//             padding: 4px;
//             background-color: lighten($color, $i * 3.5%);
//             // background-color: darken($color, $i * 3.5%);
//         }
//     }
// }



// while
.gradient{
    margin: 0 auto;
    padding: 0;
    max-width: 20rem;
    list-style: none;

    $i: 1;
    @while $i < 11 {
        li:nth-child(#{$i}){
            padding: 4px;
            background-color: lighten($color, $i * 3.5%);
            // background-color: darken($color, $i * 3.5%);
        }
        $i: $i + 1;
    }
}




// Each
$social-colors: (
    youtube: #ff0000,
    facebook: #3b5998,
    twitter: #1da1f2,
    instagram: #ffbf34
);

.socials{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    @each $social, $color in $social-colors {
        .#{$social}{
            color: #{$color};
        }
    }
}