@use 'submodules/mixin';

.footer{
    ul{
        @include mixin.inline-list();

        li{
            padding: .4em;
            background-color: pink;

            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}